In [1]:
import keyring

# 종합계좌
keyring.set_password('real_app_key', 'highcera', 'PSF4OaxrCHka4LbSMy1PIaIu71lLSWwc9gfu')
keyring.set_password('real_app_secret', 'highcera', 'r4pZyak/rMiRdH+d4u3rVahdyOFWeOsBr9YnYekyhkWDPnt+zY9RtVrF6o39ab00QHQSNC+fmVih2jzR5kauqW5GECUjx4rzzqtvL2QvdcfF7c6njITnl6ewn33PYGjZfT8d6QCTEJZRY+S7pE3KaZG1KdEbuM9c8uwM8HSplo066JOLh9s=')

# 모의계좌
keyring.set_password('mock_app_key', 'highcera', 'PSxuhg2lKVCnEoFAva0DAzJe794t2n2R5atv')
keyring.set_password('mock_app_secret', 'highcera', 'she+o6Wsxg5R4WA+C1QrZiY6xc15Go58rBk3Hn+q2OQ8pQggysUtaxgQF7uXx+UCpCQm/LXy2wc0yRoEskZaCVNyyJRjDaSoYoBVMKLV+JbujE2wH3cvmQt7awAQis5NPt6R8BappmW+ZC2WSmSM6Vh1kS22doazYahS2M2pjNz5ZMnIkVs=')

In [2]:
import requests
import json
import keyring

# key
app_key = keyring.get_password('mock_app_key', 'highcera')
app_secret = keyring.get_password('mock_app_secret', 'highcera')

# base url
url_base = "https://openapivts.koreainvestment.com:29443" # 모의투자

# information
headers = {"content-type": "application/json"}
path = "oauth2/tokenP"
body = {
    "grant_type": "client_credentials",
    "appkey": app_key,
    "appsecret": app_secret
}

url = f"{url_base}/{path}"
print(url)

https://openapivts.koreainvestment.com:29443/oauth2/tokenP

In [3]:
res = requests.post(url, headers=headers, data=json.dumps(body))
access_token = res.json()['access_token']

In [4]:
access_token

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImY4ZjM0MGE0LTRmNDUtNGNjZi1iOGRhLWU0ZTU2ZDcxN2IzNSIsImlzcyI6InVub2d3IiwiZXhwIjoxNjkzMDU4Mjk2LCJpYXQiOjE2OTI5NzE4OTYsImp0aSI6IlBTeHVoZzJsS1ZDbkVvRkF2YTBEQXpKZTc5NHQybjJSNWF0diJ9.U7gRl6oJ7-7Y_GWUPPMW0pQ7YdlxU93CPqMsbTk8I9I5MF3chnu0u2KM3YvqmbSLOa5zAXAo_T3fXzryIFwiPA'

In [5]:
def hashkey(datas):
    path = "uapi/hashkey"
    url = f"{url_base}/{path}"
    headers = {
        'content-Type': 'application/json',
        'appKey': app_key,
        'appSecret': app_secret,
    }
    res = requests.post(url, headers=headers, data=json.dumps(datas))
    hashkey = res.json()["HASH"]

    return hashkey

In [6]:
path = "uapi/domestic-stock/v1/quotations/inquire-price"
url = f"{url_base}/{path}"

headers = {
    "Content-Type": "application/json",
    "authorization": f"Bearer {access_token}",
    "appKey": app_key,
    "appSecret": app_secret,
    "tr_id": "FHKST01010100"
}

params = {"fid_cond_mrkt_div_code": "J", "fid_input_iscd": "005930"}

res = requests.get(url, headers=headers, params=params)
res.json()['output']['stck_prpr']

'67100'

In [14]:
path = "/uapi/domestic-stock/v1/trading/inquire-balance"
url = f"{url_base}/{path}"

headers = {
    "Content-Type": "application/json",
    "authorization": f"Bearer {access_token}",
    "appKey": app_key,
    "appSecret": app_secret,
    "tr_id": "VTTC8434R"
}

params = {
    "CANO": "50089730",  # 계좌번호 앞 8지리
    "ACNT_PRDT_CD": "01",  # 계좌번호 뒤 2자리
    "AFHR_FLPR_YN": "N",  # 시간외단일가여부
    "OFL_YN": "",  # 공란
    "INQR_DVSN": "01",  # 조회구분
    "UNPR_DVSN": "01",  # 단가구분
    "FUND_STTL_ICLD_YN": "N",  # 펀드결제분포함여부
    "FNCG_AMT_AUTO_RDPT_YN": "N",  # 융자금액자동상환여부        
    "PRCS_DVSN": "00",  # 처리구분(00: 전일매매포함)
    "CTX_AREA_FK100": "",  # 연속조회검색조건
    "CTX_AREA_NK100": ""  # 연속조회키
}

res = requests.get(url, headers=headers, params=params)

In [15]:
res.json()['output2']

[{'dnca_tot_amt': '449925763',
  'nxdy_excc_amt': '449925763',
  'prvs_rcdl_excc_amt': '449925763',
  'cma_evlu_amt': '0',
  'bfdy_buy_amt': '0',
  'thdt_buy_amt': '0',
  'nxdy_auto_rdpt_amt': '0',
  'bfdy_sll_amt': '0',
  'thdt_sll_amt': '0',
  'd2_auto_rdpt_amt': '0',
  'bfdy_tlex_amt': '0',
  'thdt_tlex_amt': '0',
  'tot_loan_amt': '0',
  'scts_evlu_amt': '49522320',
  'tot_evlu_amt': '499448083',
  'nass_amt': '499448083',
  'fncg_gld_auto_rdpt_yn': '',
  'pchs_amt_smtl_amt': '50052980',
  'evlu_amt_smtl_amt': '49522320',
  'evlu_pfls_smtl_amt': '-530660',
  'tot_stln_slng_chgs': '0',
  'bfdy_tot_asst_evlu_amt': '500079678',
  'asst_icdc_amt': '-631595',
  'asst_icdc_erng_rt': '-0.12629887'}]

### 시간분할 모듈 테스트

#### 모의 계좌
##### 국내 대형주 10개 포트폴리오 시분할 매수 테스트

In [10]:
import requests
import json
import keyring
import pandas as pd
import time
import numpy as np
import datetime
from datetime import timedelta
import schedule

# API Key
app_key = keyring.get_password('mock_app_key', 'highcera')
app_secret = keyring.get_password('mock_app_secret', 'highcera')

# 접근토큰 발급
url_base = "https://openapivts.koreainvestment.com:29443"  # 모의투자

headers = {"content-type": "application/json"}
path = "oauth2/tokenP"

In [11]:
url = f"{url_base}/{path}"
res = requests.post(url, headers=headers, data=json.dumps(body))
access_token = res.json()['access_token']

In [12]:
print(access_token)

eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6IjEyOTAyMDAxLTg5ZjUtNDhkOS1hY2VhLWZmMjliZDYwZjIxMiIsImlzcyI6InVub2d3IiwiZXhwIjoxNjkyOTU2MTYxLCJpYXQiOjE2OTI4Njk3NjEsImp0aSI6IlBTeHVoZzJsS1ZDbkVvRkF2YTBEQXpKZTc5NHQybjJSNWF0diJ9.ba3JziWnx9XmfgvLAp1mnEpv0uNEqGclocB0gjbYFrT7mMTtTedaaROHxsAZBcIh2SaSMC707RMdhRSKGVXHjg

In [13]:
# 해시키 발급
def hashkey(datas):
    path = "uapi/hashkey"
    url = f"{url_base}/{path}"
    headers = {
        'content-Type': 'application/json',
        'appKey': app_key,
        'appSecret': app_secret,
    }
    res = requests.post(url, headers=headers, data=json.dumps(datas))
    hashkey = res.json()["HASH"]

    return hashkey

In [14]:
# 현재가 구하기
def get_price(ticker):
    path = "uapi/domestic-stock/v1/quotations/inquire-price"
    url = f"{url_base}/{path}"

    headers = {
        "Content-Type": "application/json",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": "FHKST01010100"
    }

    params = {"fid_cond_mrkt_div_code": "J", "fid_input_iscd": ticker}

    res = requests.get(url, headers=headers, params=params)
    price = res.json()['output']['stck_prpr']
    price = int(price)
    time.sleep(0.3)

    return price

In [16]:
# 주문
def trading(ticker, tr_id):

    path = "/uapi/domestic-stock/v1/trading/order-cash"
    url = f"{url_base}/{path}"

    data = {
        "CANO": "50089730", # 계좌번호 앞 8지리
        "ACNT_PRDT_CD": "01",
        "PDNO": ticker,
        "ORD_DVSN": "03",
        "ORD_QTY": "1",
        "ORD_UNPR": "0",
    }

    headers = {
        "Content-Type": "application/json",
        "authorization": f"Bearer {access_token}",
        "appKey": app_key,
        "appSecret": app_secret,
        "tr_id": tr_id,
        "custtype": "P",
        "hashkey": hashkey(data)
    }

    res = requests.post(url, headers=headers, data=json.dumps(data))

In [17]:
# 계좌 잔고 조회
def check_account():

    output1 = []
    output2 = []
    CTX_AREA_NK100 = ''

    while True:

        path = "/uapi/domestic-stock/v1/trading/inquire-balance"
        url = f"{url_base}/{path}"

        headers = {
            "Content-Type": "application/json",
            "authorization": f"Bearer {access_token}",
            "appKey": app_key,
            "appSecret": app_secret,
            "tr_id": "VTTC8434R"
        }

        params = {
            "CANO": "50089730", # 계좌번호 앞 8지리
            "ACNT_PRDT_CD": "01",
            "AFHR_FLPR_YN": "N",
            "UNPR_DVSN": "01",
            "FUND_STTL_ICLD_YN": "N",
            "FNCG_AMT_AUTO_RDPT_YN": "N",
            "OFL_YN": "",
            "INQR_DVSN": "01",
            "PRCS_DVSN": "00",
            "CTX_AREA_FK100": '',
            "CTX_AREA_NK100": CTX_AREA_NK100
        }

        res = requests.get(url, headers=headers, params=params)
        output1.append(pd.DataFrame.from_records(res.json()['output1']))

        CTX_AREA_NK100 = res.json()['ctx_area_nk100'].strip()

        if CTX_AREA_NK100 == '':
            output2.append(res.json()['output2'][0])
            break

    if not output1[0].empty:
        res1 = pd.concat(output1)[['pdno',
                                   'hldg_qty']].rename(columns={
                                       'pdno': '종목코드',
                                       'hldg_qty': '보유수량'
                                   }).reset_index(drop=True)
    else:
        res1 = pd.DataFrame(columns=['종목코드', '보유수량'])

    res2 = output2[0]

    return [res1, res2]

In [18]:
ap, account = check_account()
print(ap, account)

     종목코드  보유수량
0  000660    43
1  001120   157
2  003380   685
3  003650    70
4  005380    27
5  005930    75
6  009160  1179
7  009970    61
8  035720   103
9  105560    96 {'dnca_tot_amt': '449925763', 'nxdy_excc_amt': '449925763', 'prvs_rcdl_excc_amt': '449925763', 'cma_evlu_amt': '0', 'bfdy_buy_amt': '0', 'thdt_buy_amt': '0', 'nxdy_auto_rdpt_amt': '0', 'bfdy_sll_amt': '0', 'thdt_sll_amt': '0', 'd2_auto_rdpt_amt': '0', 'bfdy_tlex_amt': '0', 'thdt_tlex_amt': '0', 'tot_loan_amt': '0', 'scts_evlu_amt': '50153915', 'tot_evlu_amt': '500079678', 'nass_amt': '500079678', 'fncg_gld_auto_rdpt_yn': '', 'pchs_amt_smtl_amt': '50052980', 'evlu_amt_smtl_amt': '50153915', 'evlu_pfls_smtl_amt': '100935', 'tot_stln_slng_chgs': '0', 'bfdy_tot_asst_evlu_amt': '499550778', 'asst_icdc_amt': '528900', 'asst_icdc_erng_rt': '0.10587512'}

In [19]:
account['tot_evlu_amt']

'500079678'

## 9시 이후 여기부터 실행

In [20]:
# 모델 포트폴리오
mp = pd.DataFrame({
    '종목코드': [
        '005930',  # 삼성전자
        '373220',  # LG에너지솔루션
        '000660',  # SK하이닉스
        '207940',  # 삼성바이오로직스
        '051910',  # LG화학
        '035420',  # NAVER
        '005380',  # 현대차
        '006400',  # 삼성SDI,
        '035720',  # 카카오
        '105560',  #KB금융
    ]
})

# 보유 종목과 aum 불러오기
ap, account = check_account()

# 주당 투자 금액
invest_per_stock = int(account['tot_evlu_amt']) * 0.1 / len(mp)

# 매매 구성
target = mp.merge(ap, on='종목코드', how='outer')
target['보유수량'] = target['보유수량'].fillna(0).apply(pd.to_numeric)


# 현재가 확인
target['현재가'] = target.apply(lambda x: get_price(x.종목코드), axis=1)

# # 목표수량 및 투자수량 입력
target['목표수량'] = np.where(target['종목코드'].isin(mp['종목코드'].tolist()),
                          round(invest_per_stock / target['현재가']), 0)
target['투자수량'] = target['목표수량'] - target['보유수량']
target

      종목코드  보유수량     현재가   목표수량    투자수량
0   005930    75   68200   73.0    -2.0
1   373220     0  535000    9.0     9.0
2   000660    43  120900   41.0    -2.0
3   207940     0  763000    7.0     7.0
4   051910     0  563000    9.0     9.0
5   035420     0  229000   22.0    22.0
6   005380    27  186400   27.0     0.0
7   006400     0  594000    8.0     8.0
8   035720   103   49100  102.0    -1.0
9   105560    96   53200   94.0    -2.0
10  001120   157   30850    0.0  -157.0
11  003380   685    7170    0.0  -685.0
12  003650    70   71700    0.0   -70.0
13  009160  1179    4185    0.0 -1179.0
14  009970    61   80900    0.0   -61.0

In [90]:
mp.info()
print(type(mp), mp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    20 non-null     int64
dtypes: int64(1)
memory usage: 224.0 bytes
<class 'pandas.core.frame.DataFrame'>       종목코드
0      700
1     1800
2     3030
3     3220
4     7370
5     7700
6    15230
7    23910
8    29460
9    30200
10   45100
11   49770
12   78930
13   90470
14   94970
15  101330
16  111770
17  123040
18  263690
19  267250

In [95]:
mp = mp.astype({'종목코드': 'object'})
print(mp.dtypes)

종목코드    object
dtype: object

In [93]:
ap.info()
print(type(ap), ap, ap.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    10 non-null     object
 1   보유수량    10 non-null     object
dtypes: object(2)
memory usage: 144.0+ bytes
<class 'pandas.core.frame.DataFrame'>      종목코드 보유수량
0  000660   29
1  005380   21
2  005930   54
3  006400    6
4  035420   17
5  035720   73
6  051910    7
7  105560   70
8  207940    3
9  373220    7 종목코드    object
보유수량    object
dtype: object

In [97]:
# 매매 구성
target = mp.merge(ap, on='종목코드', how='outer')

In [115]:
# 시간 분할
startDt1 = datetime.datetime.now() + timedelta(minutes=1)
startDt2 = datetime.datetime.now().replace(hour=9,minute=10,second=0,microsecond=0)
startDt = max(startDt1, startDt2)
endDt = datetime.datetime.now().replace(hour=11,minute=30,second=0,microsecond=0)

# 스케줄 초기화
schedule.clear()

# 스케줄 등록
for t in range(target.shape[0]) :
    
    n = target.loc[t, '투자수량']
    position = 'VTTC0802U' if n > 0 else 'VTTC0801U'
    ticker = target.loc[t, '종목코드']    
    
    time_list = pd.date_range(startDt, endDt, periods = abs(n))    
    time_list = time_list.round(freq = 's').tolist()    
    time_list_sec = [s.strftime('%H:%M:%S') for s in time_list]                 

    for i in time_list_sec:
        schedule.every().day.at(i).do(trading, ticker, position)

In [116]:
# 스케줄 실행
while True:
    schedule.run_pending()    
    if datetime.datetime.now() > endDt :
        print('거래가 완료되었습니다.')        
        schedule.clear()
        break

거래가 완료되었습니다.

## 모의 투자
### 포트폴리오 리밸런싱

In [22]:
# 모델 포트폴리오
mp = pd.read_excel('C:/Flatform/myProject/퀀트대학/model.xlsx')
ap, account = check_account()

In [23]:
print(ap, account)

     종목코드  보유수량
0  000660    43
1  001120   157
2  003380   685
3  003650    70
4  005380    27
5  005930    75
6  009160  1179
7  009970    61
8  035720   103
9  105560    96 {'dnca_tot_amt': '449925763', 'nxdy_excc_amt': '449925763', 'prvs_rcdl_excc_amt': '449925763', 'cma_evlu_amt': '0', 'bfdy_buy_amt': '0', 'thdt_buy_amt': '0', 'nxdy_auto_rdpt_amt': '0', 'bfdy_sll_amt': '0', 'thdt_sll_amt': '0', 'd2_auto_rdpt_amt': '0', 'bfdy_tlex_amt': '0', 'thdt_tlex_amt': '0', 'tot_loan_amt': '0', 'scts_evlu_amt': '50153915', 'tot_evlu_amt': '500079678', 'nass_amt': '500079678', 'fncg_gld_auto_rdpt_yn': '', 'pchs_amt_smtl_amt': '50052980', 'evlu_amt_smtl_amt': '50153915', 'evlu_pfls_smtl_amt': '100935', 'tot_stln_slng_chgs': '0', 'bfdy_tot_asst_evlu_amt': '499550778', 'asst_icdc_amt': '528900', 'asst_icdc_erng_rt': '0.10587512'}

In [24]:
ap_after, account_after = check_account()        
ap_after.columns  = ['종목코드', '매매후수량']
ap_after['매매후수량'] = ap_after['매매후수량'].apply(pd.to_numeric)

target_after = target.merge(ap_after)
target_after['차이'] = target_after['목표수량'] - target_after['매매후수량']

target_after

     종목코드  보유수량     현재가   목표수량    투자수량  매매후수량      차이
0  005930    75   68200   73.0    -2.0     75    -2.0
1  000660    43  120900   41.0    -2.0     43    -2.0
2  005380    27  186400   27.0     0.0     27     0.0
3  035720   103   49100  102.0    -1.0    103    -1.0
4  105560    96   53200   94.0    -2.0     96    -2.0
5  001120   157   30850    0.0  -157.0    157  -157.0
6  003380   685    7170    0.0  -685.0    685  -685.0
7  003650    70   71700    0.0   -70.0     70   -70.0
8  009160  1179    4185    0.0 -1179.0   1179 -1179.0
9  009970    61   80900    0.0   -61.0     61   -61.0

In [25]:
# 모델 포트폴리오
mp = pd.DataFrame({'종목코드': [
    '005930', # 삼성전자    
    '000660', # SK하이닉스        
    '005380', # 현대차    
    '035720', # 카카오
    '105560', # KB금융,
    '001120', # LX인터내셔널
    '003380', # 하림지주
    '003650', # 미창석유
    '009160', # SIMPAC
    '009970' # 영원무역홀딩스
    ]})

# 보유 종목과 aum 불러오기
ap, account = check_account()    

# 주당 투자 금액
invest_per_stock = int(account['tot_evlu_amt']) * 0.1 / len(mp)

# 매매 구성
target = mp.merge(ap, on='종목코드', how='outer')
target['보유수량'] = target['보유수량'].fillna(0).apply(pd.to_numeric)

# 현재가 확인
target['현재가'] = target.apply(lambda x: get_price(x.종목코드), axis=1)

# 목표수량 및 투자수량 입력
target['목표수량'] = np.where(target['종목코드'].isin(mp['종목코드'].tolist()),
                          round(invest_per_stock / target['현재가']), 0)
target['투자수량'] = target['목표수량'] - target['보유수량']

target

     종목코드  보유수량     현재가    목표수량  투자수량
0  005930    75   68200    73.0  -2.0
1  000660    43  120900    41.0  -2.0
2  005380    27  186400    27.0   0.0
3  035720   103   49100   102.0  -1.0
4  105560    96   53200    94.0  -2.0
5  001120   157   30850   162.0   5.0
6  003380   685    7170   697.0  12.0
7  003650    70   71700    70.0   0.0
8  009160  1179    4185  1195.0  16.0
9  009970    61   80900    62.0   1.0

In [126]:
# 시간 분할
startDt1 = datetime.datetime.now() + timedelta(minutes=1)
startDt2 = datetime.datetime.now().replace(hour=9,minute=10,second=0,microsecond=0)
startDt = max(startDt1, startDt2)
endDt = datetime.datetime.now().replace(hour=14,minute=00,second=0,microsecond=0)

# 스케줄 초기화
schedule.clear()

# 스케줄 등록
for t in range(target.shape[0]) :
    
    n = target.loc[t, '투자수량']
    position = 'VTTC0802U' if n > 0 else 'VTTC0801U'
    ticker = target.loc[t, '종목코드']    
    
    time_list = pd.date_range(startDt, endDt, periods = abs(n))    
    time_list = time_list.round(freq = 's').tolist()    
    time_list_sec = [s.strftime('%H:%M:%S') for s in time_list]                 

    for i in time_list_sec:
        schedule.every().day.at(i).do(trading, ticker, position)

In [127]:
# 스케줄 실행
while True:
    schedule.run_pending()    
    if datetime.datetime.now() > endDt :
        print('거래가 완료되었습니다.')        
        schedule.clear()
        break

거래가 완료되었습니다.

In [26]:
ap_after, account_after = check_account()        
ap_after.columns  = ['종목코드', '매매후수량']
ap_after['매매후수량'] = ap_after['매매후수량'].apply(pd.to_numeric)

target_after = target.merge(ap_after)
target_after['차이'] = target_after['목표수량'] - target_after['매매후수량']

target_after

     종목코드  보유수량     현재가    목표수량  투자수량  매매후수량    차이
0  005930    75   68200    73.0  -2.0     75  -2.0
1  000660    43  120900    41.0  -2.0     43  -2.0
2  005380    27  186400    27.0   0.0     27   0.0
3  035720   103   49100   102.0  -1.0    103  -1.0
4  105560    96   53200    94.0  -2.0     96  -2.0
5  001120   157   30850   162.0   5.0    157   5.0
6  003380   685    7170   697.0  12.0    685  12.0
7  003650    70   71700    70.0   0.0     70   0.0
8  009160  1179    4185  1195.0  16.0   1179  16.0
9  009970    61   80900    62.0   1.0     61   1.0